
.products,.footer{
  display: grid;
  place-items: center;
}

/*productsShell*/
.productsShell{
  display:flex;
  flex-wrap: wrap;
  gap: 20px;
  
}
/*productsShell*/

/*products*/

.products{
  gap: 20px;
  width: 100%;
}

.products-title{
  color: rgb(131, 131, 131);
  justify-self: left;
}
.products-menu{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:30px;
  flex-wrap: wrap;
  justify-items: center;
}

/*products*/

/*Card*/
.Card-info{
  display: grid;
  width: 100%;
  grid-template-columns:1fr 1fr;
  grid-template-rows:1fr 1fr 1fr ;
  grid-template-areas:"name price"
                      "name oldPrice"
                      "rate button";
}
.Card-Img > img{
  width: 100%;
}

.Card-Img{
  /* margin: 15px 65px 54px 65px; */
  padding: 0px 0px 54px 0px;
  margin: auto;
  
}
.Card-info-title{
  justify-self: left;
  grid-area:name;
}

.Card-info-price-now{
  justify-self: right;
  grid-area:price;
  color: rgb(255, 165, 66);
  font-size: 17px;
  font-weight: 600;
  line-height: 21px;
}
.Card-info-price-old{
  justify-self: right;
  grid-area: oldPrice;
  color: rgb(255, 206, 127);
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-decoration-line: line-through;
}
.Card-info-rate{
  justify-self: left;
  grid-area:rate;
}
.Card-info-button{
  justify-self: right;
  grid-area:button;
}


.Card-info-button .button{
  border: none;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
}

.Card{
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
  max-height: 405px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  padding: 15px 22px 32px;
}
/*Card*/

/*Cart*/
.CartShell{
  display:grid;
  grid-template-areas: "title title"
                       "prod buy";
  grid-template-rows: min-content auto;
  gap:30px;
}
.CartShell-title{
  grid-area: title;
}
.CartShell-prod{
  grid-area: prod;
  display: flex;
  gap:30px;
  flex-direction: column;
}

.CartShell-products-info{
  display: grid;
  grid-template-areas: "image info trashCart"
                       "image info trashCart";
  grid-template-columns: repeat(3,1fr);
  padding: 18px 30px 15px 30px;
}
.CartShell-products-info-img img{
 height: 140px;
 width: 140px;
}
.CartShell-products-info-img{
  grid-area: image;
}
.CartShell-products-info-title-{
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}
.CartShell-products-info-title{
color: rgb(28, 28, 39);
font-size: 17px;
font-weight: 500;
line-height: 21px;
text-align: left;
}
.CartShell-products-info-price{
  color: rgb(170, 170, 170);
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
}
.CartShell-products-info-trashCart{
 
  grid-area: trashCart;
  justify-self: end;
}

.CartShell-products-info-trashCart-button{
  background:transparent;
  border: none;
}

.CartShell-products{
  max-width: 640px;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
}
.CartShell-products-panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 15px 30px;
  
}
.CartShell-products-panel-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
}


.CartShell-products-panel-button{
  
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 206, 127);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: rgb(255, 206, 127);
}
.minus{
  background: rgb(190, 190, 190);
  border: rgb(190, 190, 190);
}
.CartShell-buy{
  grid-area: buy;
  display: grid;
  max-width: 350px;
  width: 100%;
  max-height: 130px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  justify-self:end;
}
.CartShell-buy-finalyPrice{
  padding: 22px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  
  display: flex;
  justify-content: space-between;
  height: 65px;
  justify-self: top;
}
.CartShell-buy-button{
  justify-self: bottom;
  width: 100%;
  
}
/*Cart*/

/*footer*/
.footer-logo{
  justify-self: start;
  grid-area: a;
}
.footer-href-img{
  width: 30px;
  height: 30px;
}

.footer-socialIcon{
  grid-area: d;
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 20px;
}
.selectlang{
  color: rgb(255, 165, 66);
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}
.footer-right-href-changeLang{
  display: flex;
  justify-content:start;
  gap: 15px;
  color: rgb(16, 16, 16);
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  
}
.footer-right-href{
  grid-area: c;
  display: grid;
  gap:10px
}
.footer-left-href{
  grid-area: b;
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(3,1fr);
}
.footer-href-a{
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-decoration: none;
}
.footer{
  gap: 10px;
  padding: 29px;
  display: grid;
  grid-template-areas: "a b c d";
  /* grid-template-columns: repeat(4,1fr); */
  align-items: start;
  border-radius: 30px 30px 0px 0px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

/*footer*/

