/*media*/
@media (hover:hover){
  .logo:hover{
    transform: scale(1.05);
  }
  .footer-href-a:hover{
    transform: scale(1.05);
  }
  .img-link:hover {
    transform: scale(1.25);
  }
  .Card:hover{
    transform: scale(1.05);
  }
  .Card-info .button:hover{
    color: rgb(131, 131, 131);
  }
  .CartShell-products-info-trashCart-button:hover{
    transform: scale(1.25);
  }
  .CartShell-products-panel-button:hover{
    transform: scale(1.05);
  }
  .minus:hover{
    transform: scale(1);
  }
  .black-focus-button:hover{
    border: 2px solid rgb(16, 16, 16);
    color: rgb(16, 16, 16);
    background-color: #FFFFFF;
  }
  
}

@media (max-width:740px) {
  .CartShell-products-info {
    padding: 22px 15px 15px 15px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:  "trashCart"
                          "image "
                          "info";
  }
  .CartShell-products-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 15px 15px;
  }
  .CartShell-products-info-img{
    justify-self:center;
  }
  .CartShell-products-info-title- {
  
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .products-menu{
    grid-template-columns: repeat(2,1fr);
  }
  .Card{
    padding: 5px 12px 12px;
  }
  .footer{
    padding: 15px 5px;
  }
}
@media (max-width:440px) {
  .products-menu{
    grid-template-columns: repeat(1,1fr);
  }
}

@media (max-width: 520px) {
  .form{
    grid-template-areas:"paytitle"
                        "paydata"
                        "payaction";
    grid-template-rows: min-content auto;
    justify-content: center;
  }
  .CartShell-buy {
    max-width: 100vw;
  }
  .CartShell-products-panel{
    padding: 0px 15px 15px 15px;
    
  }
  .CartShell-products-info{
    grid-template-areas: "image info trashCart"
                         "image info trashCart";
    grid-template-columns: repeat(3,1fr);
    padding: 18px 15px 15px 15px;
  }

  .CartShell{
    grid-template-areas: "title"
                         "prod"
                         "buy";
    grid-template-columns: repeat(1,1fr);
  }
  .Card-Img{
    padding-bottom: 20px;
  }
  .footer{
    grid-template-areas: "a d"
                         "b c";
  }
  .footer-logo{
    justify-self:center;
  }
  .footer-socialIcon{
    justify-self:center;
  }
  .footer-right-href-changeLang{
    justify-self:center;
  }
  
}

@media (max-width: 340px) {
  .footer{
    grid-template-areas: "d"
                         "b" 
                         "c"   
                         "a";
    padding: 15px;
  }
  
  .footer-logo,.footer-right-href-changeLang,.footer-socialIcon{
    justify-self:auto;
  }
}
/*media*/